
<script>

    $(function () {
        $('#main_logo').css('display', 'none');
        var container_width;
        container_width = $('#super_container').css('width');
        $('#banner').css('width', 0);
        //$('#banner').css('display', 'none');
        $('#body_content').css('display', 'none');
        $('#nav_links_area').css('display', 'none');
        $('#footer').css('display', 'none');
    });

    var animationMultiplier = 150;

    $(window).load(function () {
        $('#main_logo').fadeIn(2 * animationMultiplier, function () {
        $('#banner').animate({width: '1000px'}, 3 * animationMultiplier, function () {
        $('#banner').slideDown(1.5 * animationMultiplier, function () {
        $('#nav_links_area').fadeIn(2 * animationMultiplier, function () {
        $('#body_content').slideDown(2 * animationMultiplier, function () {
        $('#footer').fadeIn(2 * animationMultiplier, function () {
        $('#index_background_layer1').animate({opacity:'1'}, 500, function () {
        $('#index_background_layer2').animate({opacity:'1'}, 500, function () {
        $('#index_background').animate({opacity:'1'}, 800, function () {
        });});});});});});});});});
    });


</script>

<div style="height: 620px; position: relative;">
  <div id="index_background_layer1"  style="opacity: 0;position: absolute; height: 620px;  width: 1000px;">
    <div style="position: absolute; height: 620px;  width: 1000px; background-image: url(https://lh3.googleusercontent.com/-m9Eys1KvzQ0/UPNqSK7nx8I/AAAAAAAA4Fs/ur2Z9NB3MB0/s1000/Standing_dock_layers_1.png);">

    </div>
  </div>
  <div id="index_background_layer2"  style="opacity: 0;position: absolute; height: 620px;  width: 1000px;">
      <div style="position: absolute; height: 620px;  width: 1000px; background-image: url(https://lh5.googleusercontent.com/-orrNzqmSVis/UPNqSVuoWtI/AAAAAAAA4Fw/Jux0QMdl4jU/s1000/Standing_dock_layers_2.png);">

      </div>
  </div>
  <div id="index_background"  style="opacity: 0; position: absolute; height: 620px; width: 1000px; background-image: url(https://lh5.googleusercontent.com/-SG-7QiJgccs/UOh1Tcn7QvI/AAAAAAAA3-4/8d9vbY2jTr0/s1000/Standing_dock.jpg);">

  </div>

</div>





