/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


#body {
    background-color: #ffffff;
    margin: 0px 25px 0px 25px;
}

ul {
    margin: 0;
    padding: 0;
}

a img {
    border: none;
}


#super_container {
    width: 1000px;
    min-height: 800px;
    margin: 20px auto;
}

#main_logo {
    display: block;
    float: left;
    margin-bottom: 20px;
}

#banner {
    height: 50px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    position: relative;
    clear: both;
}


#nav_bar {
    position: absolute;
    height: 100%;
    width: 100%;
}

/*A class foreignObject moving divs to center vertically*/
#nav_center_floater {
    float: left;
    height: 50%;
    position: relative;
}

#nav_links_area {
    margin: 0 auto;
    top: -10px;
    clear: left;
    position: relative;
    display: block;
}

.nav_link_holder {
    border-left: 1px solid #000000;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 20px;
    float: left;
}

.nav-link {
    font-family: Century Gothic, serif;
    float: left;
    font-size: 18px;
    color: #30435d;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-link:link, .nav-link:visited {
    text-decoration:none;
    color: #30435d;
}

.nav-link:hover {
    color: #8c6f6a;
}

.below-nav-expander {
    margin-top: 20px;
    border-bottom: 1px solid #000000;
    display: none;
}

#contact_expander {
    height: 30px;
    padding-bottom: 10px;
    font-family: Century Gothic, serif;
}

#projects_expander {
    height: 36px;
    padding-bottom: 10px;
    font-family: Century Gothic, serif;
}

#body_content {

    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #000000;
}

#footer {
    margin: 10px 0px 20px 0px;
}

.footer_icon {
    display: block;
    float: right;
    margin: 0px 0px 0px 12px;
    width: 25px;
}


.slides_container {
    width: 1000px;
    overflow: hidden;
    position: relative;
    display: none;
}

.slides_container div {
    width: 1000px;
    /*This is the maximum height allowed*/
    height: 1000px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-clip: content-box;
}

#slides {
    margin-top: -8px;
    position: relative;
    z-index: 100;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*
    Next/prev buttons
*/

#slides .next,#slides .prev {
    position:absolute;
    top:288px;
    left:-24px;
    width:24px;
    height:43px;
    display:block;
    z-index:101;
}

#slides .next {
    left:1000px;
}

.slideshow_caption {
    top: 20px;
    width: 0px;
    text-align: end;
    padding: 10px 5px 10px 5px;
    background-color: #30435d;
    color: white;
    font-family: Century Gothic, serif;
    opacity: 0;
    position: relative;
    font-size: large;
    pointer-events: none;
    white-space:nowrap;
}


/*
	Pagination
*/

.pagination {
    margin: 0px auto;
    /*This is set in the javascript of the photos page (18px per picture)*/
    width: 396px;
}

.pagination li {
    float: left;
    margin: 0 1px;
    list-style: none;
}

.pagination li a {
    display: block;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url(/assets/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.pagination li.current a {
    background-position: 0 -12px;
}

#resume_container {
    position: relative;
    font-family: Calibri, sans-serif;
    /*border-left: 1px solid #000000;*/
    /*border-right: 1px solid #000000;*/
    padding: 10px 15px 0px 0px;

}

.resume_title {
    display: inline;
    font-size: 54px;
    padding: 0px 0px 0px 15px;
}

.resume_title_lastname {
    display: inline;
    font-family: Times New Roman;
    color: #8c6f6a;
}
.resume_title_firstname {
    display: inline;
    font-family: Times New Roman;
    color: #50584f;
}

.resume_job_title {
    margin: 0px 0px 0px 6px;
    padding: 0px 0px 1px 18px;
    display: inline-block;
    border-left: 1px solid #000000;
}

.resume_job_title_text {
    font-size: 15px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    margin: -2px;
    padding: 1px 0px 0px 0px;
}

.resume_pdf_link {
    display: block;
    float: right;
    margin: 10px 100px 0px 0px;
    width: 40px;
}

.resume_institution {
    font-size: 24px;
    margin: 35px 0px 0px 40px;
    padding: 0px 10px 0px 10px;
    border-left: 2px solid #8c6f6a;
    font-weight: bold;
}

.resume_parens {
    display: inline;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}

.resume_section_description {
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    white-space: nowrap;
    display: block;
    position: absolute;
    width: 6px;
    height: 20px;
    margin: 0px 0px 0px -30px;
    font-size: 17px;
    font-weight: 100;
    font-family: Century Gothic;
    /*font-style: italic;*/
}

.resume_project {
    font-size: 20px;
    margin: 25px 0px 0px 40px;
    padding: 0px 0px 0px 10px;
    border-left: 2px solid #8c6f6a;
    font-weight: bold;
}

.resume_project_bullet_indicator {
    float:left;
    width:8px;
    position:relative;
    border-bottom:1px solid #000000;
    margin-right: 6px;
    top: 11px;
}

.resume_project_bullet {
    font-size: 16px;
    margin: 2px 0px 0px 10px;
    clear: both;
    font-weight: 100;
}

.resume_bold_text {
    display: inline;
    font-weight: bold;
    color: #863022;
}

.resume_link {

}

.resume_link:link, .resume_link:visited {
    text-decoration:underline;
    color: #30435d;
}
.resume_link:hover {
    color: #8c6f6a;
}
