
<%= stylesheet_link_tag "application" %>
<body id="body">
    <div id="main_content_pane">

        <div id="banner">
          <div id="logo_area">
              <div id="logo_center_floater">

              </div>
              <div id="logo">

              </div>
          </div>
        </div>
    </div>

</body>

