<script type="text/javascript">

    var $j = jQuery.noConflict();

    var _canvas;
    var _arena;

    var _opponent;
    var _thisPlayer;
    var _intervalId = null;
    var _stepInteval = 30;

    function init(){
        _canvas = $j('#MainCanvas')[0];

        _arena = new OrneryArena(_canvas, false);

        $j("#ElasInput").val(_arena.physics.elasticity * 100);
        $j("#GravInput").val(_arena.physics.gravity.y)
    }

    function play(){
        if (_intervalId == null) {
            init();
            _intervalId = window.setInterval(game_loop, _stepInteval);
        }
    }

    function game_loop(){
        _arena.Step(_stepInteval/1000);
    }

    function reset(){
        window.clearInterval(_intervalId);
        _intervalId = null;
        _arena.Clear();
    }

    function setElasticity() {
        var val = $j("#ElasInput").val()
        _arena.physics.SetElasticity(val / 100.0);
    }
    function setGravity() {
        var val = $j("#GravInput").val()
        _arena.physics.SetGravityY(val);
    }

</script>


<div id="ornery_container">

  <p>
    I developed a 2-dimensional physics engine for a class project at Drexel University. It was implemented in
    JavaScript and runs in an HTML Canvas element.
  </p>


  <button onclick="play()">Play</button>

  <button onclick="reset()">Reset</button>
    Elasticity: <input type="number" id="ElasInput" onchange="setElasticity()">
    Gravity: <input type="number" id="GravInput" onchange="setGravity()">

  </textarea>

  <canvas id="MainCanvas" width="800" height="500" style="margin: 5px; border: solid 2px #000000; display: block;">

  </canvas>
  <iframe width="640" height="480" src="http://www.youtube.com/embed/Omfx1CSQzXk" frameborder="0" allowfullscreen>

  </iframe>
</div>

