
<div class="weblingo-container">
  <!-- INTRO SCREEN -->
  {{#if questionNum<0}}
    <div class="question-info-section">
      Test your knowledge of frameworks, libraries, utilities and other web related technologies.
      <br/>
      <br/>
      You will see a logo, select the corresponding tag-line from the list of options.
      <br/>
      <br/>
      <button on-click="startQuiz" class="quiz-button">Begin</button>
    </div>

    <!-- END SCREEN -->
  {{elseif questionNum >= questions.length}}

    <span>You answered correctly {{score}} our of {{questions.length}} questions</span>

    <!-- PLAYING STATE -->
  {{else}}
    <div>

      <div class="question-info-section">

        <!-- Load all images -->
        {{#questions:i}}
          <img src="{{lingos[questions[i].lingoId].logo_url}}" class="logo-img {{#if i != questionNum}}hidden-item{{/if}}"
               title="{{lingos[questions[i].lingoId].name}}">

        {{/}}

        {{#questionReview}}
          <a class="external-link-question" href="{{currentLingo.website_url}}" target="_blank"><i class="fa fa-external-link"></i></a>
        {{/}}

      </div>

      <div class="question-info-section">
        {{#choicesTagline:i}}
          <div class="question-choice {{#if questionReview}}disable-choice{{/if}} {{#questionReview}}{{#if chosen == i}}chosen{{#if chosen == correct}}-correct{{else}}-incorrect{{/if}}{{/if}}{{/}}"
               on-click="choiceClick(i)">
            <i class="fa fa-quote-left quote-icon"></i>&nbsp;{{.}}&nbsp;<i class="fa fa-quote-right quote-icon"></i>
            {{#questionReview}}
              {{#if i == chosen && chosen != correct}}
                <i class="fa fa-times-circle-o red-text q-review-icon"></i>
              {{/if}}
              {{#if i == correct}}
                <i class="fa fa-check-circle-o green-text q-review-icon"></i>
              {{/if}}
            {{/}}
          </div>
        {{/}}
      </div>

      <div class="quiz-footer">
        {{#questions:i}}

          <i class="fa {{#if this.status == 1}}fa-check-square{{else}}fa-square-o{{/if}} ques-list-boxes
            {{#if i == questionNum}}curr-ques-box{{/if}} {{#if this.status == 1}}green-text{{/if}}
            {{#if this.status == -1}}red-text{{/if}}"></i>
        {{/}}
        {{#questionReview}}
          <button class="quiz-button next-question-button" on-click="nextQuestion()">Next Question&nbsp;<i class="fa fa-arrow-right"></i></button>
        {{/}}
      </div>

    </div>
  {{/if}}

</div>