
#super_container {
    width: 1000px;
    min-height: 800px;
    margin: 20px auto;
}

#main_logo {
    display: block;
    float: left;
    margin-bottom: 20px;
}

#banner {
    height: 50px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    position: relative;
    clear: both;
}


#nav_bar {
    position: absolute;
    height: 100%;
    width: 100%;
}

/*A class foreignObject moving divs to center vertically*/
#nav_center_floater {
    float: left;
    height: 50%;
    position: relative;
}

#nav_links_area {
    margin: 0 auto;
    top: -10px;
    clear: left;
    position: relative;
    display: block;
}

.nav_link_holder {
    border-left: 1px solid #000000;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 20px;
    float: left;
}

.nav-link {
    font-family: Century Gothic, serif;
    float: left;
    font-size: 18px;
    color: #30435d;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-link:link, .nav-link:visited {
    text-decoration:none;
    color: #30435d;
}

.nav-link:hover {
    color: #8c6f6a;
}

.below-nav-expander {
    margin-top: 20px;
    border-bottom: 1px solid #000000;
    display: none;
}

#contact_expander {
    height: 30px;
    padding-bottom: 10px;
    font-family: Century Gothic, serif;
}

#projects_expander {
    height: 36px;
    padding-bottom: 10px;
    font-family: Century Gothic, serif;
}

#body_content {

    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #000000;
}

#footer {
    margin: 10px 0px 20px 0px;
}

.footer_icon {
    display: block;
    float: right;
    margin: 0px 0px 0px 12px;
    width: 25px;
}
