
#resume_container {
    position: relative;
    font-family: Calibri, sans-serif;
    /*border-left: 1px solid #000000;*/
    /*border-right: 1px solid #000000;*/
    padding: 10px 15px 0px 0px;

}

.resume_title {
    font-weight: lighter;
    display: inline;
    font-size: 54px;
    padding: 0px 0px 0px 15px;
}

.resume_title_lastname {
    display: inline;
    color: #8c6f6a;
}
.resume_title_firstname {
    display: inline;
    color: #50584f;
}

.resume_job_title {
    margin: 0px 0px 0px 6px;
    padding: 0px 0px 1px 18px;
    display: inline-block;
    border-left: 1px solid #000000;
}

.resume_job_title_text {
    font-size: 15px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    margin: -2px;
    padding: 1px 0px 0px 0px;
}

.resume_pdf_link {
    display: block;
    float: right;
    margin: 10px 100px 0px 0px;
    width: 40px;
}

.resume_institution {
    font-size: 24px;
    margin: 35px 0px 0px 40px;
    padding: 0px 10px 0px 10px;
    border-left: 2px solid #8c6f6a;
    font-weight: bold;
}

.resume_parens {
    display: inline;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}

.resume_section_description {
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    white-space: nowrap;
    display: block;
    position: absolute;
    width: 6px;
    height: 20px;
    margin: 0px 0px 0px -30px;
    font-size: 17px;
    font-weight: 100;
    font-family: Century Gothic;
    /*font-style: italic;*/
}

.resume_project {
    font-size: 20px;
    margin: 25px 0px 0px 40px;
    padding: 0px 0px 0px 10px;
    border-left: 2px solid #8c6f6a;
    font-weight: bold;
}

.resume_project_bullet_indicator {
    float:left;
    width:8px;
    position:relative;
    border-bottom:1px solid #000000;
    margin-right: 6px;
    top: 11px;
}

.resume_project_bullet {
    font-size: 16px;
    margin: 2px 0px 0px 10px;
    clear: both;
    font-weight: 100;
}

.resume_bold_text {
    display: inline;
    font-weight: bold;
    color: #863022;
}

.resume_link {

}

.resume_link:link, .resume_link:visited {
    text-decoration:underline;
    color: #30435d;
}
.resume_link:hover {
    color: #8c6f6a;
}